{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} América Clube{% endblock %}</title>
</head>
<body>
    <header>
        <article class="container">
            <nav>
                <ul>
                    <li>
                        <a class="ativo" href="{% url 'index' %}">Início</a>
                    </li>
                    <li>
                        <a href="{% url 'jogadores' %}">Jogadores</a>
                    </li>
                    <li>
                        <a href="{% url 'sobre' %}">Sobre</a>
                    </li>
                </ul>
            </nav>
        </article>
    </header>
</body>
</html>